.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 33vh;
    text-align: center;
    font-size: large;
    color: rgb(79, 2, 2);
    font-weight: bolder;
}